/* You can add global styles to this file, and also import other style files */
body {
    background-color: lightgray;
    color:lightseagreen ;
}
button {
    color: brown;
    background-color: whitesmoke;

}
.container {

    background-image: url(assets/hp.jpg);
}
@import "~bootstrap/dist/css/bootstrap.css"